body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: solid;
    background-color: green;
}